 backend/node_modules/.package-lock.json
 backend/package-lock.json
 backend/package.json
 backend/.env
 backend/node_modules/
 frontend/node_modules/
 backend/node_modules/.bin/nodemon
 backend/node_modules/.bin/nodetouch
 backend/node_modules/.bin/semver
 backend/node_modules/.package-lock.json
 backend/node_modules/nodemon/.prettierrc.json
 backend/node_modules/nodemon/LICENSE
 backend/node_modules/nodemon/README.md
 backend/node_modules/nodemon/bin/nodemon.js
 backend/node_modules/nodemon/doc/cli/authors.txt
 backend/node_modules/nodemon/doc/cli/config.txt
 backend/node_modules/nodemon/doc/cli/help.txt
 backend/node_modules/nodemon/doc/cli/logo.txt
 backend/node_modules/nodemon/doc/cli/options.txt
 backend/node_modules/nodemon/doc/cli/topics.txt
 backend/node_modules/nodemon/doc/cli/usage.txt
 backend/node_modules/nodemon/doc/cli/whoami.txt
 backend/node_modules/nodemon/index.d.ts
 backend/node_modules/nodemon/jsconfig.json
 backend/node_modules/nodemon/lib/cli/index.js
 backend/node_modules/nodemon/lib/cli/parse.js
 backend/node_modules/nodemon/lib/config/command.js
 backend/node_modules/nodemon/lib/config/defaults.js
 backend/node_modules/nodemon/lib/config/exec.js
 backend/node_modules/nodemon/lib/config/index.js
 backend/node_modules/nodemon/lib/config/load.js
 backend/node_modules/nodemon/lib/help/index.js
 backend/node_modules/nodemon/lib/monitor/index.js
 backend/node_modules/nodemon/lib/monitor/match.js
 backend/node_modules/nodemon/lib/monitor/run.js
 backend/node_modules/nodemon/lib/monitor/signals.js
 backend/node_modules/nodemon/lib/monitor/watch.js
 backend/node_modules/nodemon/lib/nodemon.js
 backend/node_modules/nodemon/lib/rules/add.js
 backend/node_modules/nodemon/lib/rules/index.js
 backend/node_modules/nodemon/lib/rules/parse.js
 backend/node_modules/nodemon/lib/spawn.js
 backend/node_modules/nodemon/lib/utils/bus.js
 backend/node_modules/nodemon/lib/utils/clone.js
 backend/node_modules/nodemon/lib/utils/colour.js
 backend/node_modules/nodemon/lib/utils/index.js
 backend/node_modules/nodemon/lib/utils/log.js
 backend/node_modules/nodemon/lib/utils/merge.js
 backend/node_modules/nodemon/lib/version.js
 backend/node_modules/nodemon/package.json
 backend/node_modules/semver/LICENSE
 backend/node_modules/semver/README.md
 backend/node_modules/semver/bin/semver.js
 backend/node_modules/semver/classes/comparator.js
 backend/node_modules/semver/classes/index.js
 backend/node_modules/semver/classes/range.js
 backend/node_modules/semver/classes/semver.js
 backend/node_modules/semver/functions/clean.js
 backend/node_modules/semver/functions/cmp.js
 backend/node_modules/semver/functions/coerce.js
 backend/node_modules/semver/functions/compare-build.js
 backend/node_modules/semver/functions/compare-loose.js
 backend/node_modules/semver/functions/compare.js
 backend/node_modules/semver/functions/diff.js
 backend/node_modules/semver/functions/eq.js
 backend/node_modules/semver/functions/gt.js
 backend/node_modules/semver/functions/gte.js
 backend/node_modules/semver/functions/inc.js
 backend/node_modules/semver/functions/lt.js
 backend/node_modules/semver/functions/lte.js
 backend/node_modules/semver/functions/major.js
 backend/node_modules/semver/functions/minor.js
 backend/node_modules/semver/functions/neq.js
 backend/node_modules/semver/functions/parse.js
 backend/node_modules/semver/functions/patch.js
 backend/node_modules/semver/functions/prerelease.js
 backend/node_modules/semver/functions/rcompare.js
 backend/node_modules/semver/functions/rsort.js
 backend/node_modules/semver/functions/satisfies.js
 backend/node_modules/semver/functions/sort.js
 backend/node_modules/semver/functions/valid.js
 backend/node_modules/semver/index.js
 backend/node_modules/semver/internal/constants.js
 backend/node_modules/semver/internal/debug.js
 backend/node_modules/semver/internal/identifiers.js
 backend/node_modules/semver/internal/lrucache.js
 backend/node_modules/semver/internal/parse-options.js
 backend/node_modules/semver/internal/re.js
 backend/node_modules/semver/package.json
 backend/node_modules/semver/preload.js
 backend/node_modules/semver/range.bnf
 backend/node_modules/semver/ranges/gtr.js
 backend/node_modules/semver/ranges/intersects.js
 backend/node_modules/semver/ranges/ltr.js
 backend/node_modules/semver/ranges/max-satisfying.js
 backend/node_modules/semver/ranges/min-satisfying.js
 backend/node_modules/semver/ranges/min-version.js
 backend/node_modules/semver/ranges/outside.js
 backend/node_modules/semver/ranges/simplify.js
 backend/node_modules/semver/ranges/subset.js
 backend/node_modules/semver/ranges/to-comparators.js
 backend/node_modules/semver/ranges/valid.js
 backend/node_modules/touch/LICENSE
 backend/node_modules/touch/README.md
 backend/node_modules/touch/bin/nodetouch.js
 backend/node_modules/touch/index.js
 backend/node_modules/touch/package.json
 backend/node_modules/.bin/nodemon.cmd
 backend/node_modules/.bin/nodemon.ps1
 backend/node_modules/.bin/nodetouch.cmd
 backend/node_modules/.bin/nodetouch.ps1
 backend/node_modules/.bin/semver.cmd
 backend/node_modules/.bin/semver.ps1